<div id="logo">
  <img src="/assets/logo.png">
</div>

<div class="text-center" id="quote">
  <div class="trans-bgrd text-center">
    <h2>Update your login.</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %><p>(leave blank if you don't want to change it)</p>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>
  </div>
</div>

<div class="text-center" id="buttons">
    <div class="actions">
      <%= image_submit_tag("/assets/submit.png", class: "submit") %>
      <% end %>
    </div>
<%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
</br>
<%= link_to "Back", :back %>
</div>

<div class="text-center" id="color-bar">
  <div id="yellow"></div>
  <div id="blue"></div>
  <div id="red"></div>
  <div id="green"></div>
</div>
