<div id="inline-content">
  <li><%= button_to "-", negative_cigs_path, method: :post %></li>
  <li><%= button_to "+", positive_cigs_path, method: :post %></li>
</div>

<h3>PROGRESS</h3>

<div class="span_12 column">
  <ul>
    <li><strong>TIME SINCE YOUR LAST CIGARETTE</strong></li>
    <li>
    Minutes: <%= @minutes %>
    </li>
    <% if @hours > 0 %>
    <li>
    Hours: <%= @hours %>
    </li>
    <% end %>
    <% if @days > 0 %>
    <li>
    Days: <%= @days %>
    </li>
    <% end %>
    <% if @weeks > 0 %>
    <li>
    Weeks: <%= @weeks %>
    </li>
    <% end %>
  </ul>
</div>

<div class="small-12 medium-4 column">
  <ul>
    <li><strong>TODAY</strong></li>
    <li>Smoked: <%= @smoked_today %></li>
    <li>Resisted: <%= @nonsmoked_today %></li>
    <li>Net Bank: $<%= "%.2f" % (@saved_today - @spent_today) %></li>
  </ul>
</div>

<div class="small-12 medium-4 column">
  <ul>
    <li><strong>THIS WEEK</strong></li>
    <li>Smoked: <%= @smoked_week %></li>
    <li>Resisted: <%= @nonsmoked_week %></li>
    <li>Net Bank: $<%= "%.2f" % (@saved_week - @spent_week) %></li>
  </ul>
</div>

<div class="small-12 medium-4 column">
  <ul>
    <li><strong>ALL TIME</strong></li>
    <li>Smoked: <%= @smoked_alltime %></li>
    <li>Resisted: <%= @nonsmoked_alltime %></li>
    <li>Net Bank: $<%= "%.2f" % (@saved_alltime - @spent_alltime) %></li>
  </ul>
</div>
