<div id="quote">
  <%= @quote %>
</div>

<div class="span_12 column">
  <div id="inline-content">
    <li class="neg"><%= button_to "-", negative_cigs_path, method: :post %></li>
    <li class="pos"><%= button_to "+", positive_cigs_path, method: :post %></li>
  </div>
</div>

<div class="span_12 column">
  <ul>
  </br>
    <li><strong>PROGRESS</strong></li>
  </br>
    <li><strong>TIME SINCE YOUR LAST CIGARETTE</strong></li>
    Minutes: <li id="minutes"><%= @minutes %></li>
    <% if @hours > 0 %>
    Hours: <li id="hours"><%= @hours %></li>
    <% end %>
    <% if @days > 0 %>
    Days: <li id="days"><%= @days %></li>
    <% end %>
    <% if @weeks > 0 %>
    Weeks: <li id="weeks"><%= @weeks %></li>
    <% end %>
  </ul>
</div>

<div class="small-12 medium-4 column">
  <ul>
    <li><strong>TODAY</strong></li>
    Resisted: <li id="nonsmoked_today"><%= @nonsmoked_today %></li>
    Smoked: <li id="smoked_today"><%= @smoked_today %></li>
    Net Bank: $<li id="net_today"><%= "%.2f" % (@saved_today - @spent_today) %></li>
  </ul>
</div>

<div class="small-12 medium-4 column">
  <ul>
    <li><strong>THIS WEEK</strong></li>
    Resisted: <li id="nonsmoked_week"><%= @nonsmoked_week %></li>
    Smoked: <li id="smoked_week"><%= @smoked_week %></li>
    Net Bank: $<li id="net_week"><%= "%.2f" % (@saved_week - @spent_week) %></li>
  </ul>
</div>

<div class="small-12 medium-4 column">
  <ul>
    <li><strong>ALL TIME</strong></li>
    Resisted: <li id="nonsmoked_alltime"><%= @nonsmoked_alltime %></li>
    Smoked: <li id="smoked_alltime"><%= @smoked_alltime %></li>
    Net Bank: $<li id="net_alltime"><%= "%.2f" % (@saved_alltime - @spent_alltime) %></li>
  </ul>
</div>
