<div id="logo">
  <img src="assets/logo.png">
</div>

<div class="text-center" id="quote">
  <div class="trans-bgrd">
    <%= @quote %>
  </div>
</div>

  <div class="text-center" id="buttons">
    <div class="inline-content">
      <li class="neg"><%= button_to "-", negative_cigs_path, method: :post %></li>
      <li class="pos"><%= button_to "+", positive_cigs_path, method: :post %></li>
    </div>
  </div>

  <div class="text-center" id="color-bar">
    <div id="yellow"></div>
    <div id="blue"></div>
    <div id="red"></div>
    <div id="green"></div>
  </div>

<div class="text-center" id="time">
  <ul>
  </br>
  </br>
    <li><h1>PROGRESS</h1></li>
  </br>
    <li><h1>TIME SINCE YOUR LAST CIGARETTE</h1><% if @minutes >= 1 && @minutes <= 60 %></li>
    minutes <li id="minutes"><%= @minutes %></li><% end %>
    <% if @hours >= 1 %>
    hours <li id="hours"><%= @hours %></li>
    <% end %>
    <% if @days >= 1 && @days <= 7 %>
    days <li id="days"><%= @days %></li>
    <% end %>
    <% if @weeks >= 1 %>
    weeks <li id="weeks"><%= @weeks %></li>
    <% end %>
  </ul>
</div>

<div class="small-12 medium-4 columns text-center">
  <ul>
    <li><h4>TODAY</h4></li>
    resisted <li id="nonsmoked_today"><%= @nonsmoked_today %></li>
    smoked <li id="smoked_today"><%= @smoked_today %></li>
    net bank $<li id="net_today"><%= "%.2f" % (@saved_today - @spent_today) %></li>
  </ul>
</div>

<div class="small-12 medium-4 columns text-center">
  <ul>
    <li><h5>THIS WEEK</h5></li>
    resisted <li id="nonsmoked_week"><%= @nonsmoked_week %></li>
    smoked <li id="smoked_week"><%= @smoked_week %></li>
    net bank $<li id="net_week"><%= "%.2f" % (@saved_week - @spent_week) %></li>
  </ul>
</div>

<div class="small-12 medium-4 columns text-center">
  <ul>
    <li><h6>ALL TIME</h6></li>
    resisted <li id="nonsmoked_alltime"><%= @nonsmoked_alltime %></li>
    smoked <li id="smoked_alltime"><%= @smoked_alltime %></li>
    net bank $<li id="net_alltime"><%= "%.2f" % (@saved_alltime - @spent_alltime) %></li>
  </ul>
</div>
