<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "quitcoin" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
      <ul class="menu">
        <div id="inline-content">
          Bank $<li class="bank"><%= "%.2f" % @total if current_user %></li>
        </div>
          <% if controller_name == "banks" && action_name == "index" %>
            <li><%= link_to "Progress", "#" if current_user %></li>
          <% else %>
          <% end %>
      </ul>

        <ul class="dropdown menu" data-dropdown-menu>
          <li>
            <a href="#">Menu</a>
              <ul class="menu">
                <li><%= link_to "Update pack cost", new_pack_path if current_user %></li>
                <li><%= link_to "Sign up", new_user_registration_path unless current_user %></li>
                <li><%= link_to "Sign in", new_user_session_path, method: :get if !current_user %></li>
                <li><%= link_to "Sign out", destroy_user_session_path, method: :delete if current_user %></li>
              </ul>
          </li>
        </ul>

      <div class = row column>
        <%= yield %>
      </div>
  </body>
</html>
